// body {
//     font-size:30px;
// }

.center {
    margin: auto;
}

.tt48-box,table {
    
    border: 2px #808080 solid;
    border-collapse: collapse;
    

    td {
        color: red;
        text-align: center;
        vertical-align: middle;
        width: 1.5em;
        height: 1.5em;
    }
}

.tt48-controller {
}