@import "variables";

.root {
    display: inline-block;
    .background {
        padding:$waku-width / 2;
        width:$waku-width * 4 + $cell-width * 4;
        height:$waku-width * 4 + $cell-width * 4;
        background-color: #f6f6f6;
    }
}

